* text=auto eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.hlsl text eol=lf
*.fx text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.png binary
*.ico binary
